:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 9px 22px #e1e1f9;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-weight: bold;
  font-family: 'Open Sans';
  color: #334;
}
